{% extends 'base.html' %} 
{% block checkout %} 


        {% if not object.shipping_address %}
        <div class="row">
                <div class="col-md-6 mx-auto col-10 text-center">
                <p class="lead">Shipping address</p>
                <hr size="30" />
                {% url "checkout_address_create" as checkout_address_create %}
                {% include 'addresses/form.html' with form=address_form address_type='shipping' next_url=request.build_uri action_url=checkout_address_create address_type="shipping" %}
                </div>
        </div>
        
        {% elif not object.billing_address %}
             <div class="row">
                <div class="col-md-6 mx-auto col-10 text-center">
                <p class="lead">Billing address</p>
                <hr size="30" />
                {% url "checkout_address_create" as checkout_address_create %}
                {% include 'addresses/form.html' with form=address_form address_type='shipping' next_url=request.build_uri action_url=checkout_address_create address_type="billing" %}
                </div>
        </div>
        {% else %}
                <h1>Finalise Checkout</h1>
                
                {{ object.order_id }} -- {{ object.cart }}
                
                <p>Cart Total: {{ object.cart.total }}</p>
                <p>Shipping Total: {{ object.shipping_total }}</p>
                <p>Order Total: {{         object.total }}</p>
                <button>Checkout</button>
        {% endif %}
{% endblock %}

        
     





