@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    min-height: 100vh;
    font-family: 'Bebas Neue', cursive;
}

.roboto-font {
    font-family: 'Roboto', sans-serif;
}

nav {
    font-size: 20px;
    background-color: black;
}

.weathercentral {
    height: 300px;
    width: 300px;
    border-style: solid;
    border-width: thin;
    margin-bottom: 20px;
}

.searchbox {
    margin-bottom: 10px;
    /*margin-left: -50px;*/
}

.temperature {
    font-size: 50px;
}

.social-icons li a {
    width: 30px;
    height: 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.social-icons li a:hover {
    color: #ffc107 !important;
    background-color: #343a40 !important;
}

footer {
    height: 100px;
    margin-top: auto;
}