{% extends 'auth_base.html' %}

{% block title %}{{ block.super }} | Registration{% endblock %}

{% block main_body %}
    <div class="text-center">
        <p>Already have an account?
            <a class="login" href="{% url 'login' %}">Log in!</a>
        </p>
        <br/>
        <form method="POST">
            {% csrf_token %}
            <table class="mx-auto">
                {% for field in registration_form %}
                    <tr>
                        <td class="text-left">{{ field.label_tag }}</td>
                        <td>{{ field }}</td>
                    </tr>
                {% endfor %}
            </table>
            <button type="submit">Register</button>
        </form>
    </div>
{% endblock %}
