{% extends 'base.html' %}

{% load static %}

{% block main_body %}
    <div class="container-fluid">
        <h1>{{ user|title }}'s profile</h1>
    </div>

    {% if messages or Form.errors %}
        <div class="container">
            <div class="row text-center">
                <div class="col-sm-4 offset-4">
                    {% if messages and not Form.errors %}
                        {% for message in messages %}
                            <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    {% if Form.errors %}
                        <div class="alert alert-danger text-left">{{ Form.errors }}</div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}

    <div class="text-center">
        <form method="POST" action="">
            {% csrf_token %}
            <input type="text" name="{{ Form.city_name.html_name }}" placeholder="City name">
            <button type="submit">Search</button>
        </form>
    </div>

    <div class="container text-center roboto-font px-2 py-3 weathercentral">
        <h2>{{ city_weather.city|title }}</h2>
        <br/>
        <span class="temperature font-weight-bold">{{ city_weather.details.temp|floatformat:1 }}<sup class="">°F</sup></span>
        <div class="w-100 mt-2 pt-2 border-top d-flex align-items-center justify-content-around">
            <div class="d-flex flex-column justify-content-between">
                <img src="http://openweathermap.org/img/w/{{ city_weather.icon }}.png"/>
                <span class="text-capitalize h6">{{ city_weather.description }}</span>
            </div>
            <div class="mx-2 px-2 border-left border-right d-flex flex-column justify-content-between text-primary">
                <span class="font-weight-bold h3">{{ city_weather.details.temp_min|floatformat:1 }}<sup class="">°F</sup></span>
                <span class="h6">Min</span>
            </div>
            <div class="d-flex flex-column justify-content-between text-danger">
                <span class="font-weight-bold h3">{{ city_weather.details.temp_max|floatformat:1 }}<sup class="">°F</sup></span>
                <span class="h6">Max</span>
            </div>
        </div>
        <div class="w-100 mt-2 pt-2 border-top d-flex align-items-center justify-content-around">
            <div class="d-flex flex-column justify-content-between text-dark">
                <span class="font-weight-bold h3">{{ city_weather.wind|floatformat:1 }}<sub>miles/hr</sub></span>
                <span class="h6">Wind</span>
            </div>
            <div class="mx-2 px-2 border-left border-right d-flex flex-column justify-content-between text-dark">
                <span class="font-weight-bold h3">{{ city_weather.details.pressure }}<sub>hPa</sub></span>
                <span class="h6">Pressure</span>
            </div>
            <div class="d-flex flex-column justify-content-between text-dark">
                <span class="font-weight-bold h3">{{ city_weather.details.humidity|floatformat:1 }}<sub>%</sub></span>
                <span class="h6">Humidity</span>
            </div>
        </div>
    </div>
    <br/>
    <div class="text-center">
        <h1>{{ roboto|default:"Search for the weather in any city!" }}</h1>
    </div>
{% endblock %}