@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
body {
    height: 100%;
    position: relative;
}

nav {
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    background-color: black;
}

/*i {*/
/*    color: black;*/
/*}*/

/*.navbar-dark .navbar-nav .nav-link, .fa-shopping-cart {*/
/*    color: white;*/
/*}*/

/*.navbar-dark .navbar-nav .nav-link:hover, .fa-shopping-cart:hover {*/
/*    color: #BFBFBF;*/
/*}*/

/*ul > li > a > i {*/
/*    color: #BFBFBF;*/
/*}*/

.weathercentral {
    height: 300px;
    width: 300px;
    border-style: solid;
    border-width: thin;
    margin-bottom: 20px;
}

.searchbox {
    margin-bottom: 10px;
    /*margin-left: -50px;*/
}

footer {
    height: 200px;
    background-color: blue;
    font-family: 'Bebas Neue', cursive;
    margin-top: 30px;
}