{% extends 'homepage_base.html' %} {% block title %}
<title>Login</title>{% endblock %} {% block login %}
<div class="text-center">
    <p>Don't have an account yet? <a href="{% url 'registration' %}">Register here!</a></p>
</div>
<div class="form-group">
    <form method="POST" class="text-center">
        <div class="form-group">
            {% csrf_token %} {{ login_form.as_p }}
        </div>
        <button type=submit>Login</button>
    </form>
</div>
{% endblock %}
<!--<style>-->
<!--    @import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');-->
<!--    body {-->
<!--        background: url(https://images.unsplash.com/photo-1428908728789-d2de25dbd4e2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9) no-repeat center center fixed;-->
<!--        -webkit-background-size: cover;-->
<!--        -moz-background-size: cover;-->
<!--        -o-background-size: cover;-->
<!--        background-size: cover;-->
<!--    }-->

/* Remove default li dots */

<!--    nav>li {-->
<!--        list-style: none;-->
<!--    }-->

<!--    nav>li>a {-->
<!--        color: #0000ff;-->
<!--    }-->

/* Remove on hover default text-decoration (underline) */

<!--    nav>li>a:hover {-->
<!--        text-decoration: none;-->
<!--    }-->

<!--    h1 {-->
<!--        margin-top: 150px;-->
<!--        font-family: 'Bebas Neue';-->
<!--        font-size: 75px;-->
<!--    }-->

<!--    button {-->
<!--        font-family: 'Bebas Neue';-->
<!--        font-size: 25px;-->
<!--    }-->
<!--</style>-->
</body>

</html>
