{% extends 'base.html' %} 

{% block products %} 

<div class="container">
    <div class="row">
        {% for item in object_list %}
        <div class="col-sm-4" id="box">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{ item.image }}" alt="Img">
                <div class="card-body">
                    <h5 class="card-title">{{ item.title }}</h5>
                    <p class="card-text">{{ item.description }}</p>
                    <a href="{{ item.get_absolute_url }}" class="btn btn-primary">View details</a>
                </div>
            </div>
        </div>
        {% endfor %} 
    </div>
</div>

{% endblock %}
